<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>pdaprojectwebS</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResetConsuActi</display-name>
    <servlet-name>ResetConsuActi</servlet-name>
    <servlet-class>reset.ResetConsuActi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetConsuActi</servlet-name>
    <url-pattern>/ResetConsuActi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetConsuClase</display-name>
    <servlet-name>ResetConsuClase</servlet-name>
    <servlet-class>reset.ResetConsuClase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetConsuClase</servlet-name>
    <url-pattern>/ResetConsuClase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetConsuUsu</display-name>
    <servlet-name>ResetConsuUsu</servlet-name>
    <servlet-class>reset.ResetConsuUsu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetConsuUsu</servlet-name>
    <url-pattern>/ResetConsuUsu</url-pattern>
  </servlet-mapping>
</web-app>