@charset "UTF-8";

textarea{
  resize: none;
  overflow-x: scroll;
  overflow-y: scroll;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  width:150px;
  content: 'Seleccionar imagen';
  display: inline-block;
  background: white;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

button{	
  margin-top:5px;
  width:150px;
  display: inline-block;
  background: white;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background: rgb(190,255,0);
  background: -moz-linear-gradient(0deg, rgba(190,255,0,0.50773812943146) 0%, rgba(141,180,58,1) 50%, rgba(190,255,0,0.5) 100%);
  background: -webkit-linear-gradient(0deg, rgba(190,255,0,0.50773812943146) 0%, rgba(141,180,58,1) 50%, rgba(190,255,0,0.5) 100%);
  background: linear-gradient(0deg, rgba(190,255,0,0.50773812943146) 0%, rgba(141,180,58,1) 50%, rgba(190,255,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#beff00",endColorstr="#beff00",GradientType=1);
  margin: auto;
  padding: 20px;
  border: 3px solid #004085;
  width: 80%;
  margin-top:12%;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  line-height: 72px;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 0 10px
}

p { 
  color: #f8f8f8;
  font-family: 'Raleway',sans-serif; 
  font-size: 18px; 
  font-weight: 500; 
  line-height: 32px; 
  margin: 0 0 0 10px;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-image: url(../imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
}

.leaderboard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  min-width: 380px;
  max-width: 900px;
  width: 90%;
  height: max-content;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgb(62 9 11 / 30%);
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
}

.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}